
<div class="container-fluid" style="background-color: azure;">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <a aria-label="Contato" href="https://wa.me/5512987075143?text=teste" target="_blank">Contato no Whatsapp </a>
            <img style="width: 30px; height: 30px;" src="https://static.cdnlogo.com/logos/w/29/whatsapp-icon.svg">
        </ul>
        <p class="text-center text-body-secondary ">{{ now }} - Padilha Perfumes</p>
    </footer>
</div>